<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sports Trivia</title>
    
    <script src="{{ url_for('static', filename='index.js') }}"></script>
    <link href="{{ url_for('static', filename='index.css') }}" rel="stylesheet" type="text/css">
</head>
<body id="body">
    <div class="container">
        <div id="start">
            <h1>Sports Trivia</h1>
            <button id="start_quiz" onclick="start()">Start Quiz</button>
        </div>
        <div id="quiz">
            <h2 id="q">Question?</h2>
            <div class="answers">
                <button id="a0" onclick="select('a0')">Answer 1</button>
                <button id="a1" onclick="select('a1')">Answer 2</button>
                <button id="a2" onclick="select('a2')">Answer 3</button>
                <button id="a3" onclick="select('a3')">Answer 4</button><br>
            </div>
            <h4>Score: <span id="score">0</span></h4>
            <div class="round-time-bar" style="--duration: 15;">
                <div></div>
            </div>
        </div>
        <div id="incorrect">
            <h2>Game Over</h2>
            <h3 id="end_text"></h3>
            <h4>Your Score: <span id="final_score">0</span></h4>
            Name: <input type="text" id="name">
            <button onclick="submit_score_helper()">Submit Score to Leaderboard</button><br>
            <button onclick="play_again()">Play Again</button>
        </div>
        <div id="correct">
            <h2>Correct! +<span id="points"></span></h2>
            <h4>Score: <span id="current_score">0</span></h4>
            <button onclick="next_question()">Next Question</button>
        </div>
        <div id="leaderboard">
            <h2>Leaderboard</h2>
            <span id="leaderboard_table"></span>
            <button onclick="play_again()">Play Again</button>
        </div>
    </div>
</body>
</html>